body {
  background: #777;
  text-align: center;
  font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
  color: #777;
  width: 960px;
}

div {
  margin: auto;
}

.bar {
  width: 838px;
  background: #ebebeb;
  padding: 25px;
  height: 20px;
}

.header {
  padding: 25px;
  border: 0;
  margin-bottom: 5px;
}

.nav {
  padding: 25px;
  border: 0;
  margin-bottom: 10px;
}

.container {
  width: 838px;
}

.section {
  float: left;
  margin-left: -25px;
  width: 495px;
  height: 256px;
  padding: 20px 0 0;
  background: #ebebeb;
  margin-bottom: 10px;
}

.article {
  position: relative;
  top: 25px;
  bottom: 2px;
  margin-top: 5px;
  padding: 10px;
  height: 150px;
  margin: 10px;
  background: #777;
  color: #ebebeb;
}

.h1 {
  padding: 2px;
  background: #ebebeb;
  color: #777;
  margin-bottom: 4px;
  line-height: 2;
  position: relative;
  top: 30px;
}

.p {
  padding: 2px;
  background: #ebebeb;
  color: #777;
  line-height: 2;
  position: relative;
  top: 40px;
}

.aside {
  float: right;
  width: 270px;
  padding: 25px;
  background: #ebebeb;
}

.footer {
  margin-top: 10px;
  clear: both;
  margin: auto;
}